.myDiv {
    background-image: url('https://i.gifer.com/QgnM.gif');
    border: 2px outset rgb(255, 255, 255);
    border-radius: 3rem;
    background-color:rgba(255, 255, 255, 0);   
    text-align: center;
    color: rgba(255, 255, 255, 0.618);
    top: 1rem;
    height: 6rem;
    width: 75rem;
    position: fixed;
    left: 15rem;

    h1 {
        font-size: 60px;
        position: relative;
        bottom: 1.5rem;
    }
  }
  
  .crime {
    color: white;
    border: 1px outset rgb(255, 255, 255);
    border-radius: 1rem;
    width: 25rem;
    position: fixed;
    left:50rem;
    top: 8.3rem;
    
    h1 {
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/16/67/20/1000_F_316672092_4uXhXLl4J0vZ5HTDLyRtmT4Dqf9W56c0.jpg');
    text-align: center; 
    border: 1px outset rgb(255, 255, 255);
    border-radius: 1rem;
    height: 6rem;
    position: relative;
    bottom: 1.4rem;
    }
    p {
        text-align: left;

    }
}
.topnav {
    overflow: hidden;
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/16/67/20/1000_F_316672092_4uXhXLl4J0vZ5HTDLyRtmT4Dqf9W56c0.jpg');
    height: 2rem;
    width: 34%;
    padding: 10px;
    position: fixed;
    left: 16rem;
    top: 8.3rem;
    text-align: center;
    border: 2px outset rgb(255, 255, 255);
    border-radius: 1rem;
  }
  
  .topnav a {
    float: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    top: 0.4rem;
  }
  
  .topnav a:hover {
    background-color: #dddddd53;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    border-radius: 1rem;
    background-color: #08502aef;
    color: white;
  }
.Rate {
    border: 2px outset rgb(255, 255, 255);
    border-radius: 1rem;
    width: 11rem;
    height: 34rem;
    text-align: center;
    position: fixed;
    left: 76rem;
    bottom: 3.9rem;

.rate1 {
    position: relative;
    text-align: left;
    top: 3.5rem;
    left: 1rem;
}

.rate2 {
    position: relative;
    text-align: left;
    top: 4.5rem;
    left: 1rem;
}
.rate3 {
    position: relative;
    text-align: left;
    top: 5.5rem;
    left: 1rem;
}
.rate4 {
    position: relative;
    text-align: left;
    top: 6.5rem;
    left: 1rem;
}
.rate5 {
    position: relative;
    text-align: left;
    top: 7.5rem;
    left: 1rem;
}
.rate6 {
    position: relative;
    text-align: left;
    top: 8.5rem;
    left: 1rem;
}
.rate7 {
    position: relative;
    text-align: left;
    top: 9.5rem;
    left: 1rem;
}
.rate8 {
    position: relative;
    text-align: left;
    top: 10.5rem;
    left: 1rem;
}
.rate9 {
    position: relative;
    text-align: left;
    top: 11.5rem;
    left: 1rem;
}
.rate10 {
    position: relative;
    text-align: left;
    top: 12.5rem;
    left: 1rem;
}
.rate11 {
    position: relative;
    text-align: left;
    top: 13.5rem;
    left: 1rem;
}

    h1{
        color: white;
    }

    .rating-b{

        position: relative;
        right: 0.3rem;
        top: 8rem;
    }
}

    img {
        border: 2px outset rgb(255, 255, 255);
        border-radius: 1rem;
        position: relative;
        left: 16rem;
        top: 12rem;
    }
